/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-delay: var(--delayInSec);
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* FontStyle */

.generalFontStyle {
  font-family: "Rubik", sans-serif;
  text-align: center;
  line-height: 60%;
}

.firstHeadline {
  font-weight: 300;
}

.secondHeadline {
  font-weight: 500;
}

.thirdHeadline {
  font-weight: 300;
  font-style: italic;
}

.emojiHeadline {
  font-style: normal;
}

.footerFontStyle {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

/* Icons */

.githubIcon {
  width: 42px;
  height: 42px;
}

.linkedinIcon {
  padding-left: 10px;
  width: 42px;
  height: 42px;
}

.twitterIcon {
  padding-left: 10px;
  width: 42px;
  height: 42px;
}

/* Links */

.linkStyle {
  text-decoration: none;
  border: 0 !important;
}

/* Containers */

.headlineContainer {
  padding-top: 300px;
}

.iconContainer {
  padding-top: 14px;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 50px;
}
